---
layout: default
title: Contruisons un monde plus transparent
parmalink: /
---

{% include carousel.html %}

<div class="section py-4">
    <div class="container">
        <div class="row">
            <div class="offset-xl-2 col-xl-8 offset-lg-2 col-lg-8 col-md-12 col-sm-12 col-12">
                <div class="mb60 text-center section-title">
                    <!-- section title start-->
                    <h1>Find {{ site.title }} Products We Offers</h1>
                    <p>We will match you with a loan program that meet your financial need. In short term liquidity, by striving to make funds available to them <strong>within 24 hours of application.</strong></p>
                </div><!-- end section title start-->
            </div>
        </div>
    </div>
</div>

<div class="section-cta bg-gradient call-to-action py-5">
    <div class="container">
        <div class="row">
            <div class=" offset-xl-2 col-xl-8 offset-lg-2 col-lg-8 col-md-12 col-sm-12 col-12">
                <div class="text-center">
                    <!-- section title start-->
                    <h1 class="text-white">Vous souhaitez travailler avec nous ?</h1>
                    <p class="text-white">
                        Nous sommes toujours à la recherche de personnes talentueuses pour rejoindre notre ONG . Inscrivez-vous maintenant et faite partie de l’aventur
                    </p>

                    <a href="#" class="btn btn-sm btn-success text-white"> <i class="fa fa-pencil mr-1"></i>Postuler ici</a>
                </div><!-- end section title start-->
            </div>
        </div>
    </div>
</div>

<div class="section-blog py-5">
    <div class="container">
        <div class="row">
            <div class="offset-xl-2 col-xl-8 offset-lg-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-12">
                <div class="text-center section-title mb-4">
                    <!-- section title start-->
                    <h1>Actualités</h1>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem quibusdam</p>
                </div>
                <!-- /.section title start-->
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                <div class="service-img-box mb30 outline">
                    <div class="service-img">
                        <a href="#" class="imghover">
                            <img src="{{'/assets/img/cat.jpg' | prepend: site.baseurl }}" alt="" class="img-fluid">
                        </a>
                    </div>
                    <div class="service-content bg-white pinside30">
                        <h4><a href="#" class="title">Lorem ipsum dolor sit amet consectetur adipisicing</a>
                        </h4>

                        <p class="meta">
                            <span class="meta-date">Aug 25, 2017</span>
                            <span class="meta-author"><a href="#" class="btn-link">Lire...</a></span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                <div class="service-img-box mb30 outline">
                    <div class="service-img">
                        <a href="#" class="imghover">
                            <img src="{{'/assets/img/cat.jpg' | prepend: site.baseurl }}" alt="" class="img-fluid">
                        </a>
                    </div>
                    <div class="service-content bg-white pinside30">
                        <h4><a href="#" class="title">Lorem ipsum dolor sit amet consectetur adipisicing</a>
                        </h4>

                        <p class="meta">
                            <span class="meta-date">Aug 25, 2017</span>
                            <span class="meta-author"><a href="#" class="btn-link">Lire...</a></span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                <div class="service-img-box mb30 outline">
                    <div class="service-img">
                        <a href="#" class="imghover">
                            <img src="{{'/assets/img/cat.jpg' | prepend: site.baseurl }}" alt="" class="img-fluid">
                        </a>
                    </div>
                    <div class="service-content bg-white pinside30">
                        <h4><a href="#" class="title">Lorem ipsum dolor sit amet consectetur adipisicing</a>
                        </h4>

                        <p class="meta">
                            <span class="meta-date">Aug 25, 2017</span>
                            <span class="meta-author"><a href="#" class="btn-link">Lire...</a></span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                <div class="service-img-box mb30 outline">
                    <div class="service-img">
                        <a href="#" class="imghover">
                            <img src="{{'/assets/img/cat.jpg' | prepend: site.baseurl }}" alt="" class="img-fluid">
                        </a>
                    </div>
                    <div class="service-content bg-white pinside30">
                        <h4><a href="#" class="title">Lorem ipsum dolor sit amet consectetur adipisicing</a>
                        </h4>

                        <p class="meta">
                            <span class="meta-date">Aug 25, 2017</span>
                            <span class="meta-author"><a href="#" class="btn-link">Lire...</a></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include partners.html %}
