<footer class="footer flex-shrink-0 section-space20 pt-5">
    <!-- footer -->
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                <div class="footer-logo">
                    <!-- footer Logo -->
                    <strong class="text-capitalize font-weight-bold">
                        <img src="{{'/assets/img/logo-white.png' | prepend: site.baseurl}}" alt="{{ site.title }}">
                    </strong>
                </div><!-- end footer Logo -->
            </div>

            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
                <div class="row">
                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12">
                        <h3 class="newsletter-title">S'incrire à notre Newsletter</h3>
                    </div>

                    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-12">
                        <div class="newsletter-form">
                            <!-- Newsletter Form -->
                            <form action="#" method="post">
                                <div class="input-group">
                                    <input type="email" class="form-control" id="newsletter" name="newsletter" placeholder="Laissez-nous votre Address E-mail" required>
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit">Go!</button>
                                    </span>
                                </div><!-- /input-group -->
                            </form>
                        </div><!-- /.Newsletter Form -->
                    </div>
                </div><!-- /.col-lg-6 -->
            </div>
        </div>

        <hr class="dark-line">

        <div class="row">
            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12">
                <div class="widget-text mt-2">
                    <!-- widget text -->
                    <p class="mb-3">Lorem ipsum dolor sit amet consectetur, adipisicing, elit. Nostrum, voluptatem unde reprehenderit illo eligendi asperiores nulla </p>

                    <div class="row no-gutters">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            <address class="address-text small">
                                <i class="fa fa-map-marker mr-1"></i>
                                Abidjan - Cocody palmerais
                            </address>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            <p class="call-text small">
                                <span><i class="fa fa-phone"></i>
                                </span>{{ site.tel }}
                            </p>
                        </div>
                    </div>
                </div><!-- end widget text -->
            </div>

            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="widget-footer mt-2">
                    <!-- widget footer -->
                    <ul class="listnone">
                        <li><a href="/about-us/">A Propos</a></li>
                        <li><a href="/devenir-membre/">Devenir Membre</a></li>
                        <li><a href="/temoignages/">Témoignages</a></li>
                        <li><a href="/gallerie/">Galleries</a></li>
                    </ul>
                </div><!-- end widget footer -->
            </div>

            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6">
                <div class="widget-footer mt-2">
                    <!-- widget footer -->
                    <ul class="listnone">
                        <li><a href="/faq/">FAQ</a></li>
                        <li><a href="/partenariat/">Devenir Partenaire</a></li>
                        <li><a href="/cgu/">Nom &amp; Logo de GENESA</a></li>
                        <li><a href="/privacy/">Conditions d'Utilisation</a></li>
                    </ul>
                </div><!-- end widget footer -->
            </div>

            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="widget-social mt-2">
                    <!-- widget footer -->
                    <ul class="listnone">
                        <li><a href="{{ site.facebook }}"><i class="fa fa-facebook"></i>Facebook</a>
                        </li>
                        <li><a href="{{ site.twitter }}"><i class="fa fa-twitter"></i>Twitter</a></li>
                        <li><a href="{{ site.instagram }}"><i class="fa fa-linkedin"></i>Linkedin</a></li>
                        <li><a href="{{ site.youtube }}"><i class="fa fa-youtube"></i>YouTube</a></li>
                    </ul>
                </div>
                <!-- end widget footer -->
            </div>
        </div>
    </div>
</footer><!-- end footer -->

<div class="tiny-footer">
    <!-- tiny footer -->
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                <p>
                    <a class="text-white font-weight-bold" href="/">
                        {{ site.title }}
                    </a>
                </p>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 text-right">
                <p class="text-white">Copyright <script> document.write(new Date().getFullYear()); </script> &copy; {{ site.title }}, powerded by Anderson Corporation</p>
            </div>
        </div>
    </div>
</div>


<a href="#0" class="cd-top" title="Go to top">Top</a>

<script src="{{'/assets/vendor/jquery.min.js' | prepend: site.baseurl}}"></script>
<script src="{{'/assets/vendor/bootstrap.min.js' | prepend: site.baseurl}}"></script>
<script src="{{'/assets/js/menumaker.js' | prepend: site.baseurl}}"></script>
<script src="{{'/assets/js/jquery.sticky.js' | prepend: site.baseurl}}"></script>
<script src="{{'/assets/js/owl.carousel.min.js' | prepend: site.baseurl}}"></script>
<script src="{{'/assets/js/custom.js' | prepend: site.baseurl}}"></script>
<script src="{{'/assets/js/accordion.js' | prepend: site.baseurl}}"></script>
